<p id="notice"><%= notice %></p>

        <div class="thumbnail">
          <img alt= <%= @exchange.name %> src= <%= @exchange.thumburl %> />
        </div>
        
<p>
  <b>Name:</b>
  <%= @exchange.name %>
</p>

<p>
  <b>Description:</b>
  <%= @exchange.description %>
</p>

<p>
  <b>registration_start:</b>
  <%= @exchange.registration_start %>
</p>

<p>
  <b>registration_end:</b>
  <%= @exchange.registration_end %>
</p>

<%= link_to 'Back', exchange_path %>
