<h1>Dashboard</h1>

<% if false %>
<div class="container">
    <h3>Events you signed up</h3>
    <% @myExchanges.each  do |exchange| %>

      <div class="open">
        <%= form_for @photo, html: { multipart: true } do |f| %>
          <div class="field">
            <%= f.label :image %><br>
            <%= f.file_field :image %>
          </div>
          <div class="actions">
            <%= f.submit "Upload"%>
          </div>
        <% end %>

        <p><%= exchange.name %></p>
          <td><%= link_to 'Detail', exchange %></td> |
          <td><%= link_to 'Your match', "~/exchanges/#{exchange.id}/match" %></td>
        <div class="thumbnail">
          <img alt= <%= exchange.name %> src= <%= exchange.thumburl %> />
        </div>
      </div>
    <% end %>
  </div>
<% end %>

<div class="row">
  <% @exchange_profiles.each_with_index do |exchange_profile, index| %>
      <!--<% if index % 3 == 0 %>-->
      <!--<div class="row">-->
        <!--<% end %>-->
        <div class="col-sm-4 col-md-3">
            <div class="card">
              <div class="card-height-indicator"></div>
              <div class="card-content">
                <div class="card-image" style="height:80%;">
                  <!--<img src="./image.jpg" alt="Loading image...">-->
                  <%= image_tag(exchange_profile.exchange.thumburl, :border => 0, :class => "img-thumbnail img-responsive center-block", alt: "#{exchange_profile.exchange.name}-thumbnail") %>
                  <!--<h3 class="card-image-headline">Lorem Ipsum Dolor</h3>-->
                </div>

                <div class="card-body">
                  <span><%= exchange_profile.exchange.name %></span>
                  <br />
                  <span>Gift Due Date: <%= exchange_profile.exchange.gift_due_date.to_date.strftime("%b %e, %Y") %></span>
                  <br />
                  <%= link_to 'Exchange Details', exchange_profile.exchange %>
                  &nbsp;|&nbsp;
                  <% if exchange_profile.exchange_profile_id != nil %>
                  <%= link_to 'Your match', "exchanges/#{exchange_profile.exchange.id}/match" %>
                      <% else %>
                  <span>Match status: pending</span>
                      <% end %>
                </div>

                <!--<footer class="card-footer">-->
                  <!--<button class="btn btn-flat">Share</button>-->
                  <!--<button class="btn btn-flat btn-warning">Learn More</button>-->
                <!--</footer>-->

              </div>

            </div>
        </div>
      <!--<% if index % 3 == 0 %>-->
      <!--</div>-->
      <!--<% end %>-->
  <% end %>
</div>

<!--<div class="card-container">-->
  <!--<div class="card">-->
    <!--<div class="front">-->
      <!--<div class="cover">-->
        <!--<h1>Cover</h1>-->
      <!--</div>-->
      <!--<div class="user">-->
        <!--<h1>Circle</h1>-->
      <!--</div>-->
      <!--<div class="content">-->
        <!--<div class="main">-->
          <!--<h3 class="name">Inna Corman</h3>-->
          <!--<p class="profession">Product Manager</p>-->
          <!--<h5><i class="fa fa-map-marker fa-fw text-muted"></i> Paris, France</h5>-->
          <!--<h5><i class="fa fa-building-o fa-fw text-muted"></i> Creative Tim Inc. </h5>-->
          <!--<h5><i class="fa fa-envelope-o fa-fw text-muted"></i> inna@creative-tim.com</h5>-->
        <!--</div>-->
        <!--<div class="footer">-->
          <!--<div class="rating">-->
            <!--<i class="fa fa-star"></i>-->
            <!--<i class="fa fa-star"></i>-->
            <!--<i class="fa fa-star"></i>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div> &lt;!&ndash; end front panel &ndash;&gt;-->
    <!--<div class="back">-->
      <!--<div class="header">-->
        <!--<h5 class="motto">"To be or not to be, this is my awesome motto!"</h5>-->
      <!--</div>-->
      <!--<div class="content">-->
        <!--<div class="main">-->
          <!--<h4 class="text-center">Experince</h4>-->
          <!--<p>Inna was working with our team since 2012.</p>-->
          <!--<h4 class="text-center">Areas of Expertise</h4>-->
          <!--<p>Web design, Adobe Photoshop, HTML5, CSS3, Corel and many others...</p>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="footer">-->
        <!--<div class="social-links text-center">-->
          <!--<a href="http://creative-tim.com" class="facebook"><i class="fa fa-facebook fa-fw"></i></a>-->
          <!--<a href="http://creative-tim.com" class="google"><i class="fa fa-google-plus fa-fw"></i></a>-->
          <!--<a href="http://creative-tim.com" class="twitter"><i class="fa fa-twitter fa-fw"></i></a>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div> &lt;!&ndash; end back panel &ndash;&gt;-->
  <!--</div> &lt;!&ndash; end card &ndash;&gt;-->
<!--</div> &lt;!&ndash; end card-container &ndash;&gt;-->