<h1>Dashboard</h1>

<div class="container">
    <h3>Events you signed up</h3>
    <% @myExchanges.each do |exchange| %>

      <div class="open">
        <p><%= exchange.name %></p>
          <td><%= link_to 'Show', exchange %></td>
          <td><%= link_to 'Your match', "#" %></td>
        <div class="thumbnail">
          <img alt= <%= exchange.name %> src= <%= exchange.thumburl %> />
        </div>
      </div>
    <% end %>
  </div>