<div class="row">
  <div class="col-md-10">
    <%= form_tag do %>
        <% @exchange_questions.each do |q| %>
            <%= fields_for "responses[#{q.id}]", q do |r| %>
                <div class="row">
                  <p><%= r.label :title, q.title %></p>
                  <p><%= r.text_field :title, :value => '' %></p>
                </div>
            <% end %>
        <% end %>
        <br/>
        <%= submit_tag("Submit", :class => "btn btn-primary") %>
    <% end %>
  </div>
</div>