<!DOCTYPE html>
<html>
<head>
  <title>Gifthub</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <script type="text/javascript">
    init();
  </script>
</head>
<body>

    <%= render 'layouts/header' %>
    <div class="container-fluid">
      <% if flash.count > 0 %>
          <% flash.each_with_index do |value, index| %>
            <input type="hidden" id=<%= "message#{index}" %> class="flash-message" value="<%= value[1] %>" />
          <% end %>
      <% end %>

      <%= yield %>
    </div>
    
</body>
</html>
