<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Image url</th>
    <th>Start</th>
    <th>End</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @open_exchanges.each do |exchange| %>
  <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
    <td>
      <%= image_tag(exchange.thumburl, :class => 'list_image') %>
    </td>

    <td class="list_description">
        <dl>
          <dt><%= exchange.name %></dt>
          <dd><%= truncate(strip_tags(exchange.description),
                 :length => 80) %></dd>
          <dt><%= exchange.registration_start %></dt>
          <dt><%= exchange.registration_end %></dt>
        </dl>
    </td>
        <% if current_user.try(:admin?) %>
          <td><%= link_to 'Show', exchange %></td>
          <td><%= link_to 'Edit', edit_exchange_path(exchange) %></td>
          <td><%= link_to 'Destroy', exchange, :confirm => 'Are you sure?', :method => :delete %></td>
        <% end %>
  </tr>
<% end %>
</table>